:root {

    /* accents */
    --primary-light: #E698BC;
    --primary-accent: #943E65;
    --primary-dark: #7A224A;

    --secondary-light: #FFFCF8;
    --secondary-accent: #FFF9F3;
    --secondary-dark: #FFEAD6;

    --tertiary-light: #EDE2FF;
    --tertiary-accent: #E0CEFF;
    --tertiary-dark: #9E82CF;


    /* neutral */
    --dark-text: #000000;
    --light-background: #FFF9F3;
    --light-text: #FFF9F3;
    --dark-background: #943E65;


    /* status */
    --success-light:#A8E79B;
    --success-med: #65BE5B;
    --success-dark: #3C8C33;

    --error-light:#E98080;
    --error-med: #F45A5A;
    --error-dark: #C42D2D;

}

body {
    background-color: var(--light-background)
    
}

main {
    color: var(--dark-text);
}